<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
	<defs>
		<style>
			.skin_color {
				fill: #{{skin_color}};
			}
			.beard_color {
				fill: #{{beard_color}};
			}
			.mouth {
				fill: #{{mouth_color}};
			}
			.hair_color {
				fill: #{{hair_color}};
			}
			.body_color {
				fill: #{{body_color}};
			}
			.body_accent_1 {
				fill: #{{body_accent_1}};
			}
			.body_accent_2 {
				fill: #{{body_accent_2}};
			}
			.cls-1 {
				isolation: isolate;
			}
			.cls-3 {
				fill: #ccc;
				mix-blend-mode: overlay;
			}
			.cls-4 {
				fill: #e6e6e6;
				mix-blend-mode: multiply;
			}

			.cls-5 {
				fill: #262626;
			}

			.cls-6 {
				fill: none;
			}
		</style>
	</defs>
	<title>base</title>
	<g class="cls-1">
		<g id="Layer_1" data-name="Layer 1">
			<g id="base-2" data-name="base">
				
				<g id="base_skin">
					<path class="skin_color" d="M283.83,375.57a29.11,29.11,0,0,1-29.11,29.11h0a29.11,29.11,0,0,1-29.11-29.11V309.41a29.11,29.11,0,0,1,29.11-29.11h0a29.11,29.11,0,0,1,29.11,29.11Z"
					/>
					<path class="skin_color" d="M353.67,222.8A108.07,108.07,0,1,1,245.6,114.72,108.08,108.08,0,0,1,353.67,222.8Z"
					/>
					<circle id="base-3" data-name="base" class="skin_color" cx="361.43" cy="222.8" r="22.62" />
				</g>
				<path class="cls-3" d="M161.89,180.08a3,3,0,0,1-2.63-4.43,100.23,100.23,0,0,1,71.48-50.82,3,3,0,0,1,1,5.92,94.19,94.19,0,0,0-67.17,47.76A3,3,0,0,1,161.89,180.08Z"
				/>
				<g id="skin_shadow">
					<path class="cls-4" d="M283.83,323.9v10.17a93,93,0,0,1-58.21,0V329a108.49,108.49,0,0,0,58.21-5.12Z" />
				</g>
				<g id="eyes">
					<circle class="cls-5" cx="188.04" cy="230.03" r="12.11" />
					<circle class="cls-5" cx="286.82" cy="230.03" r="12.11" />
				</g>
			</g>
			{% if hair_index %}
				{% include "templates/assets/hair"+hair_index+".html" %}
			{% endif %}

			{% if body_index %}
				{% include "templates/assets/body"+body_index+".html" %}
			{% endif %}

			{% if beard_index %}
				{% include "templates/assets/beard"+beard_index+".html" %}
			{% endif %}
			
			{% if mouth_index %}
				{% include "templates/assets/mouth"+mouth_index+".html" %}
			{% endif %}

			<rect class="cls-6" width="512" height="512" />
		</g>
	</g>
</svg>