    <defs>
        <style>
            .bcls-1 {
                isolation: isolate;
            }

            .bcls-2 {
                fill: #575757;
            }

            .bcls-3 {
                fill: #e6e6e6;
				mix-blend-mode: multiply;
            }

            .bcls-4 {
                fill: #f7f7f7;
            }

            .bcls-5 {
                fill: #e6e6e6;
            }

            .bcls-6 {
                fill: #1f1f1f;
            }

            .bcls-7 {
                fill: #1f0f07;
            }

            .bcls-12,
            .bcls-8 {
                fill: #ccc;
            }

            .bcls-9 {
                fill: #a8a8a8;
            }

            .bcls-10 {
                fill: #d19527;
            }

            .bcls-11 {
                fill: #b3b3b3;
            }

            .bcls-11,
            .bcls-12 {
                mix-blend-mode: multiply;
            }

            .bcls-13 {
                fill: none;
            }
        </style>
    </defs>
    <g class="bcls-1">
        <g id="Layer_1" data-name="Layer 1">
            <g id="att_suit1">
                <path id="att_suit_color_1" class="body_color" d="M358.06,419.28v5.2A73.51,73.51,0,0,1,284.55,498H226.9a73.51,73.51,0,0,1-73.52-73.52v-5.2a73.52,73.52,0,0,1,71.29-73.48q1,0,2,0v1.8a29.09,29.09,0,0,0,29.1,29.11h0a29.1,29.1,0,0,0,29.07-29.11v-1.8c.65,0,1.29,0,1.94,0A73.52,73.52,0,0,1,358.06,419.28Z"
                />
                <path id="att_suit_color_2" class="bcls-3" d="M358.06,419.28v5.2A73.51,73.51,0,0,1,284.55,498H255.76V376.68a29.1,29.1,0,0,0,29.07-29.11v-1.8c.65,0,1.29,0,1.94,0A73.52,73.52,0,0,1,358.06,419.28Z"
                />
                <path class="bcls-4" d="M289.86,360.93c0,21.68-30.82,102.94-33.86,110.88V376.67a29.09,29.09,0,0,0,28.83-29.1v-4.93a21.18,21.18,0,0,1,1.94,3.16C288.76,349.74,289.86,354.71,289.86,360.93Z"
                />
                <path class="bcls-5" d="M256,376.67v95.14l-.24.63S221.6,383.78,221.58,361c0-6.24,1.09-11.23,3.09-15.18a20.53,20.53,0,0,1,2-3.17v4.94a29.09,29.09,0,0,0,29.1,29.11H256Z"
                />
                <polygon class="body_accent_2" points="237.05 417.29 227.72 418.82 208.28 431.29 255.76 472.44 237.05 417.29" />
                <polygon class="body_accent_2" points="249.41 453.73 198.43 397.33 217 358.14 249.41 453.73" />
                <polygon class="body_accent_2" points="274.42 417.29 283.76 418.82 303.2 431.29 255.72 472.44 274.42 417.29" />
                <polygon class="body_accent_2" points="262.06 453.73 313.05 397.33 294.48 358.14 262.06 453.73" />
                <polygon class="bcls-8" points="247.32 368.17 255.76 380.68 223.88 373.16 247.32 368.17" />
                <polygon class="bcls-9" points="264.16 368.17 255.72 380.68 287.6 373.16 264.16 368.17" />
                <g id="att_suit_tie">
                    <path id="att_tie_color" class="body_accent_1" d="M260.91,392l4.32,61.81-9.47,18.65-9.53-18.71,4.3-61.79a12.41,12.41,0,0,1-6.47-15.46l-18.44-6.61,15.94-3.4,5.41,5.42a12.42,12.42,0,0,1,17.55,0l5.4-5.4,15.94,3.4-18.41,6.6A12.44,12.44,0,0,1,260.91,392Z"
                    />
                    <path class="bcls-11" d="M247,371.89a12.4,12.4,0,0,0-2.91,4.59l-18.44-6.61,15.94-3.4Z" />
                    <path class="bcls-11" d="M285.86,369.87l-18.41,6.6a12.49,12.49,0,0,0-2.93-4.6l5.4-5.4Z" />
                    <path class="bcls-12" d="M268.18,380.68a12.43,12.43,0,0,1-12.42,12.42,12.21,12.21,0,0,1-5.23-1.16,12.43,12.43,0,1,1,17.65-11.26Z"
                    />
                </g>
                <polygon class="bcls-4" points="226.62 336.55 207.53 348.35 217.07 381.83 247.32 368.17 226.62 336.55" />
                <polygon class="bcls-4" points="284.86 336.55 303.95 348.35 294.41 381.83 264.16 368.17 284.86 336.55" />
            </g>
            <rect class="bcls-13" width="512" height="512" />
        </g>
    </g>
