    <defs>
        <style>
            .bcls-1 {
                fill: #d57726;
            }

            .bcls-2 {
                fill: #ccc;
            }

            .bcls-3 {
                fill: #f7f7f7;
            }

            .bcls-4 {
                fill: none;
            }
        </style>
    </defs>
    
        <g id="att_suit3">
            <path id="att_suit_color_1" class="body_color" d="M356.81,412.28v5.2A73.52,73.52,0,0,1,283.29,491H225.63a73.52,73.52,0,0,1-73.52-73.52v-5.2a73.52,73.52,0,0,1,71.3-73.48c-2,4-3.1,8.94-3.09,15.18,0,22.8,34.17,45.37,34.17,45.37s34.13-22.62,34.11-45.42c0-6.22-1.1-11.19-3.09-15.13A73.52,73.52,0,0,1,356.81,412.28Z"
            />
            <polygon class="bcls-2" points="239.1 372.56 254.5 399.35 221.86 379.57 239.1 372.56" />
            <polygon class="bcls-3" points="225.35 329.55 206.26 341.35 215.81 402.78 239.1 372.56 225.35 329.55" />
            <polygon class="bcls-2" points="269.85 372.56 254.46 399.35 287.1 379.57 269.85 372.56" />
            <polygon class="bcls-3" points="283.6 329.55 302.69 341.35 293.15 402.78 269.85 372.56 283.6 329.55" />
        </g>
