    <defs>
        <style>
            .bcls-2 {
                fill: #ccc;
            }

            .bcls-3 {
                fill: #f7f7f7;
            }

            .bcls-4 {
                fill: #a8a8a8;
            }

            .bcls-5 {
                fill: #f0f0f0;
            }

            .bcls-6 {
                fill: none;
            }
        </style>
    </defs>
    <g id="Layer_1" data-name="Layer 1">
        <g id="att_suit2">
            <path id="att_suit_color_1" class="body_color" d="M358.15,418.28v5.2A73.52,73.52,0,0,1,284.63,497H227a73.53,73.53,0,0,1-73.52-73.52v-5.2a73.52,73.52,0,0,1,73.24-73.51v9.08a29.11,29.11,0,0,0,58.22,0v-9.08A73.51,73.51,0,0,1,358.15,418.28Z"
            />
            <polygon class="bcls-2" points="255.82 378.56 255.84 394.16 223.21 385.57 255.82 378.56" />
            <polygon class="bcls-3" points="226.7 335.55 207.61 347.35 217.16 408.78 255.82 378.56 226.7 335.55" />
            <polygon class="bcls-4" points="255.82 378.56 255.81 394.16 288.44 385.57 255.82 378.56" />
            <polygon class="bcls-5" points="284.95 335.55 304.04 347.35 294.49 408.78 255.82 378.56 284.95 335.55" />
        </g>

    </g>
