    <g class="cls-1">
        <g id="Layer_1" data-name="Layer 1">
            <g id="hair3">
                <path id="hair_color" class="hair_color" d="M386.83,365.47l0,0a29.49,29.49,0,0,1-6.69,6.72l-.06,0c-7.59,6.32-17.8,11.44-29.8,15.45,0,0,0,0,0,0a72.34,72.34,0,0,0-5-9.16,87.77,87.77,0,0,1-24.28-9.4,41.15,41.15,0,0,0,4-11.48,72.83,72.83,0,0,0-22.24-10.34,73.75,73.75,0,0,0-17.18-2.56c-.65,0-1.29,0-1.94,0V322.89a108.13,108.13,0,0,0,45.33-32.55c-.62-39.52-4-80.28-4.94-90.33-15.4-.53-30.67-1.3-36.86-2.34-49.58-8.34-61.74-46-61.74-46s-10.85,26.54-28.15,35.18a152.94,152.94,0,0,1-27.84,10.81,105.87,105.87,0,0,1-28,4.07c-.78,0-1.5,0-2.18,0a43.5,43.5,0,0,1-7-.68,116.51,116.51,0,0,1,233-3.35c0,1.11.05,2.23.05,3.35h-.08c-.49,20.56,2.93,130.39,17.33,158.73.38.75,1.42,2.5,1.56,2.7,0,0,.31.46.45.64s.27.36.41.53c.28.34,1,1.13,1.16,1.22A6.41,6.41,0,0,0,386.83,365.47ZM146.2,264.77c.47,37.15-3.79,79.91-23,100.7,7.65,7.65,20.66,14.22,37,19.47h0a73.71,73.71,0,0,1,46.14-37.6c1.51-.41,3-.78,4.58-1.1a74.19,74.19,0,0,1,11-1.39c.5,0,1,0,1.52-.06l.33,0,1.62,0V328A108.22,108.22,0,0,1,146.2,264.77Z"
                />
                <path class="cls-4" d="M225.4,328v16.75l-1.62,0-.33,0c-.51,0-1,0-1.52.06a74.19,74.19,0,0,0-11,1.39c-1.54.32-3.07.69-4.58,1.1A73.71,73.71,0,0,0,160.17,385h0c-16.31-5.25-29.32-11.82-37-19.47,19.24-20.79,23.5-63.55,23-100.7A108.22,108.22,0,0,0,225.4,328Z"
                />
                <path class="cls-4" d="M325,357.67s0,0,0,0a72.83,72.83,0,0,0-22.24-10.34,73.75,73.75,0,0,0-17.18-2.56c-.65,0-1.29,0-1.94,0V322.89a108.13,108.13,0,0,0,45.33-32.55C329.34,316.36,328.53,341.84,325,357.67Z"
                />
                <path class="cls-4" d="M380,372.28c-7.59,6.32-17.8,11.44-29.8,15.45,0,0,0,0,0,0a72.34,72.34,0,0,0-5-9.16h0C362.32,382.1,373.6,377.09,380,372.28Z"
                />
            </g>
        </g>
    </g>
