    <g class="cls-1">
        <g id="Layer_1" data-name="Layer 1">
            <g id="hair5">
                <path id="hair_color" class="hair_color" d="M225.7,329v16.76l-1.62,0h-.32l-1.52.07a72.53,72.53,0,0,0-7.42.75,73.53,73.53,0,0,0-62.14,67.6H141.07V250A108.16,108.16,0,0,0,225.7,329ZM365.47,198.67a116.52,116.52,0,0,0-233,3.35s2.58.15,7.11.17h1.48a296.85,296.85,0,0,0,44.71-3.53,248.36,248.36,0,0,0,29.57-6.45c24.08-6.88,55.78-25.44,55.78-25.44s6.48,15.66,33.72,31.89c1.87,1.12,3.84,2.23,5.91,3.35,3.09,1.67,7.87,2.53,13.34,2.88v92.25a107.9,107.9,0,0,1-40.19,26.74v21.87c.65,0,1.29,0,1.94,0a71.86,71.86,0,0,1,9,.82c.61.09,1.21.19,1.82.3,0,0,0,0,0,0a73,73,0,0,1,27.42,11v47.43l32.72,7h0l8.66,1.86V202C365.52,200.9,365.5,199.78,365.47,198.67Z"
                />
                <path class="cls-4" d="M225.7,329v16.76l-1.62,0-.32,0c-.51,0-1,0-1.52.06a72.53,72.53,0,0,0-7.42.75,73.53,73.53,0,0,0-62.14,67.6H141.07V250A108.16,108.16,0,0,0,225.7,329Z"
                />
                <path class="cls-4" d="M324.1,297.15V357.9a73,73,0,0,0-27.42-11s0,0,0,0c-.61-.11-1.21-.21-1.82-.3a71.86,71.86,0,0,0-9-.82c-.65,0-1.29,0-1.94,0V323.89A107.9,107.9,0,0,0,324.1,297.15Z"
                />
            </g>
        </g>
    </g>